# Chapter 4 - Exercise 2: Hãy thực hiện những yêu cầu liên quan tới Data Frame


### Thực hiện các yêu cầu sau, và đối chiếu với kết quả Output (nếu có):

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# Câu 1: Tạo Data Frame từ dictionary như sau: 
# dic_1 = {'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]}. In data frame này

In [ ]:
# Câu 2: Tạo Data Frame df2 từ dictionary exam_data, với index của data frame là lables đã cho,
#        và In data frame vừa tạo và in info() của data frame

exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5,np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [ ]:
# In info() của data frame

In [ ]:
# Câu 3: Tạo data frame mới từ data frame df2, chỉ chứa 2 cột là name và score.  
#        In type, shape của data frame này.

In [1]:
# In head của data frame này

In [ ]:
# Câu 4: Tạo data frame mới từ data frame df2, chỉ chứa 2 cột là name và score, và chỉ có các dòng 1, 3, 5, 6
# In data frame này

<details>
  <summary>Nhấn vào đây để xem kết quả !</summary>
<div>

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right">
      <th></th>
      <th>name</th>
      <th>score</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>b</th>
      <td>Dima</td>
      <td>9.0</td>
    </tr>
    <tr>
      <th>d</th>
      <td>James</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>f</th>
      <td>Michael</td>
      <td>20.0</td>
    </tr>
    <tr>
      <th>g</th>
      <td>Matthew</td>
      <td>14.5</td>
    </tr>
  </tbody>
</table>
</div>

</details>

In [ ]:
# Câu 5: Từ data frame df2, In các dòng có dữ liệu score bị null

<details>
  <summary>Nhấn vào đây để xem kết quả !</summary>
<div>

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right">
      <th></th>
      <th>name</th>
      <th>score</th>
      <th>attempts</th>
      <th>qualify</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>d</th>
      <td>James</td>
      <td>NaN</td>
      <td>3</td>
      <td>no</td>
    </tr>
    <tr>
      <th>h</th>
      <td>Laura</td>
      <td>NaN</td>
      <td>1</td>
      <td>no</td>
    </tr>
  </tbody>
</table>
</div>

</details>

In [ ]:
# Câu 6: Từ data frame df2, In các dòng có score > 15 và <=20

<details>
  <summary>Nhấn vào đây để xem kết quả !</summary>
<div>

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right">
      <th></th>
      <th>name</th>
      <th>score</th>
      <th>attempts</th>
      <th>qualify</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>c</th>
      <td>Katherine</td>
      <td>16.5</td>
      <td>2</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>f</th>
      <td>Michael</td>
      <td>20.0</td>
      <td>3</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>j</th>
      <td>Jonas</td>
      <td>19.0</td>
      <td>1</td>
      <td>yes</td>
    </tr>
  </tbody>
</table>
</div>

</details>

In [ ]:
# Câu 7: Cập nhật điểm ở dòng 'd' thành 18

In [2]:
# Câu 8: Hiển thị thông tin thống kê chung của df2

In [ ]:
# Câu 9: Cho biết điểm mấy có tần suất xuất hiện nhiều nhất? In những dòng này.

<details>
  <summary>Nhấn vào đây để xem kết quả !</summary>
<pre>9.0
</pre>
    
<div>

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right">
      <th></th>
      <th>name</th>
      <th>score</th>
      <th>attempts</th>
      <th>qualify</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>b</th>
      <td>Dima</td>
      <td>9.0</td>
      <td>3</td>
      <td>no</td>
    </tr>
    <tr>
      <th>e</th>
      <td>Emily</td>
      <td>9.0</td>
      <td>2</td>
      <td>no</td>
    </tr>
  </tbody>
</table>
</div>

</details>

In [ ]:
# Cho biết có bao nhiêu dòng thỏa điều kiện?

In [ ]:
# Câu 10: Thêm dòng k có nội dung như sau: [1, 'Suresh', 'yes', 15.5] vào df2

In [ ]:
# Câu 11: Thêm dòng l có nội dung như sau: ['Janny', 12.5, 2, 'yes'] vào df2. In tail của df2.

In [ ]:
#  Xóa bỏ dòng l của df2. In lại tail.

In [ ]:
# Câu 12: Sắp xếp df2 tăng dần theo điểm

In [ ]:
# Câu 13: Thêm cột result căn cứ dữ liệu của cột 'score', nếu >=10 thì giá trị = 1, ngược lại = 0

In [ ]:
# Câu 14: Trong df2, thay tên 'Emily' thành 'Samantha'

In [ ]:
# Câu 15: Duyệt df2, in name, score, result: nếu = 1 thì in 'Pass', ngược lại thì in 'Fail'

<details>
  <summary>Nhấn vào đây để xem kết quả !</summary>
<pre>Kevin  - Score: 8.0  - Result: Fail
Dima  - Score: 9.0  - Result: Fail
Samantha  - Score: 9.0  - Result: Fail
Anastasia  - Score: 12.5  - Result: Pass
Matthew  - Score: 14.5  - Result: Pass
Suresh  - Score: 15.5  - Result: Pass
Katherine  - Score: 16.5  - Result: Pass
James  - Score: 18.0  - Result: Pass
Jonas  - Score: 19.0  - Result: Pass
Michael  - Score: 20.0  - Result: Pass
Laura  - Score: nan  - Result: Fail
</pre>

</details>