In [1]:
import numpy as np
import pandas as pd

## Concat

In [2]:
df1=pd.DataFrame({'Name' : pd.Series(['An', 'Hoa', 'Trung','Huy'],index=['NV1','NV2','NV3','NV4']),
      'Age' : pd.Series([15, 22, 36,27],index=['NV1','NV2','NV3','NV4'])
         })
df2 = pd.DataFrame({'Name' : pd.Series(['Thanh','Chuyen'], index=['NV11','NV12']),
      'Age' : pd.Series([26,47],index=['NV11','NV12']),
      'Address':pd.Series(['HCM','HN'],index=['NV11','NV12']) 
         })
print(df1)

print(df2)

      Name  Age
NV1     An   15
NV2    Hoa   22
NV3  Trung   36
NV4    Huy   27
        Name  Age Address
NV11   Thanh   26     HCM
NV12  Chuyen   47      HN

In [3]:
# Gộp dữ liệu, cùng key không sort lại tên các cột
print(pd.concat([df1,df2],sort=False))

# Gộp dữ liệu, cùng key không sort lại tên các cột, tạo index dòng mới
print(pd.concat([df1,df2],sort=False, ignore_index=True))

# Gộp hàng ngang, gộp cột -> cột trùng tên -
temp=pd.concat([df1,df2],sort=False,axis=1)

print(temp) #(pd.concat([df1,df2],sort=False,axis=1))
temp.loc[:,'Name']
# Thay đổi giá trị -> được
temp.loc['NV1','Name']='TTT'
print(temp.loc[:,'Name'])

# Kiểm tra toàn vẹn dữ liệu, kg trùng index dòng, không trùng tên cột
#print(pd.concat([df1,df2],sort=False,axis=1, verify_integrity=True)) # báo lỗi

        Name  Age Address
NV1       An   15     NaN
NV2      Hoa   22     NaN
NV3    Trung   36     NaN
NV4      Huy   27     NaN
NV11   Thanh   26     HCM
NV12  Chuyen   47      HN
     Name  Age Address
0      An   15     NaN
1     Hoa   22     NaN
2   Trung   36     NaN
3     Huy   27     NaN
4   Thanh   26     HCM
5  Chuyen   47      HN
       Name   Age    Name   Age Address
NV1      An  15.0     NaN   NaN     NaN
NV2     Hoa  22.0     NaN   NaN     NaN
NV3   Trung  36.0     NaN   NaN     NaN
NV4     Huy  27.0     NaN   NaN     NaN
NV11    NaN   NaN   Thanh  26.0     HCM
NV12    NaN   NaN  Chuyen  47.0      HN
       Name    Name
NV1     TTT     TTT
NV2     Hoa     NaN
NV3   Trung     NaN
NV4     Huy     NaN
NV11    NaN   Thanh
NV12    NaN  Chuyen

In [4]:
# Gộp dữ liệu, dùng tham số join

df3=pd.DataFrame({'Name' : pd.Series(['Hoang', 'Thuy'],index=['NV1','NV12']),
      'Age' : pd.Series([15, 22],index=['NV1','NV12']),
      'Salary': pd.Series([1500, 2700],index=['NV1','NV12'])
         })
print(df1)
print(df3)
# gộp dữ liệu
print(pd.concat([df1,df3],sort=False))
# gộp dữ liệu, join='inner', 2 cột Name - Age chung 
print(pd.concat([df1,df3],sort=False,join='inner'))
# gộp dữ liệu, join='inner', nhân viên NV1 chung sẽ hiển thị
print('Inner \n',pd.concat([df1,df3],axis=1, sort=False,join='inner'))
print('Default (Outer) \n',pd.concat([df1,df3],axis=1, sort=False))

      Name  Age
NV1     An   15
NV2    Hoa   22
NV3  Trung   36
NV4    Huy   27
       Name  Age  Salary
NV1   Hoang   15    1500
NV12   Thuy   22    2700
       Name  Age  Salary
NV1      An   15     NaN
NV2     Hoa   22     NaN
NV3   Trung   36     NaN
NV4     Huy   27     NaN
NV1   Hoang   15  1500.0
NV12   Thuy   22  2700.0
       Name  Age
NV1      An   15
NV2     Hoa   22
NV3   Trung   36
NV4     Huy   27
NV1   Hoang   15
NV12   Thuy   22
Inner
     Name  Age   Name  Age  Salary
NV1   An   15  Hoang   15    1500
Default (Outer)
        Name   Age   Name   Age  Salary
NV1      An  15.0  Hoang  15.0  1500.0
NV2     Hoa  22.0    NaN   NaN     NaN
NV3   Trung  36.0    NaN   NaN     NaN
NV4     Huy  27.0    NaN   NaN     NaN
NV12    NaN   NaN   Thuy  22.0  2700.0

## Append

In [5]:
df1=pd.DataFrame({'Name' : pd.Series(['An', 'Hoa', 'Trung','Huy'],index=['NV1','NV2','NV3','NV4']),
      'Age' : pd.Series([15, 22, 36,27],index=['NV1','NV2','NV3','NV4'])
         })
df2 = pd.DataFrame({'Name' : pd.Series(['Thanh','Chuyen'], index=['NV11','NV12']),
      'Age' : pd.Series([26,47],index=['NV11','NV12']),
      'Address':pd.Series(['HCM','HN'],index=['NV11','NV12']) 
         })
print(df1)

print(df2)

print(df1.append(df2,sort=False))

      Name  Age
NV1     An   15
NV2    Hoa   22
NV3  Trung   36
NV4    Huy   27
        Name  Age Address
NV11   Thanh   26     HCM
NV12  Chuyen   47      HN
        Name  Age Address
NV1       An   15     NaN
NV2      Hoa   22     NaN
NV3    Trung   36     NaN
NV4      Huy   27     NaN
NV11   Thanh   26     HCM
NV12  Chuyen   47      HN

## Merge

In [6]:
df1 = pd.DataFrame({'employee': ['Bob', 'Jake', 'Lisa', 'Sue'], 
                   'group': ['Accounting', 'Engineering', 'Engineering', 'HR']})

print(df1)

#df11 = pd.DataFrame(df1, index=['a', 'b', 'c','d'])
#print(df11)

df2 = pd.DataFrame({'employee': ['Lisa', 'Bob', 'Jake', 'Sue'],
                   'hire_date': [2004, 2008, 2012, 2014]})


print(df2)
df3 = pd.merge(df1, df2) # df1 và df2 có chung cột employee, and automatically joins using this column as a key
print(df3)

  employee        group
0      Bob   Accounting
1     Jake  Engineering
2     Lisa  Engineering
3      Sue           HR
  employee  hire_date
0     Lisa       2004
1      Bob       2008
2     Jake       2012
3      Sue       2014
  employee        group  hire_date
0      Bob   Accounting       2008
1     Jake  Engineering       2012
2     Lisa  Engineering       2004
3      Sue           HR       2014

### Merge many - to - one

In [7]:
df4 = pd.DataFrame({'group': ['Accounting', 'Engineering', 'HR'],
'supervisor': ['Carly', 'Guido', 'Steve']})
print(df3)
print(df4)
print(pd.merge(df3, df4))

  employee        group  hire_date
0      Bob   Accounting       2008
1     Jake  Engineering       2012
2     Lisa  Engineering       2004
3      Sue           HR       2014
         group supervisor
0   Accounting      Carly
1  Engineering      Guido
2           HR      Steve
  employee        group  hire_date supervisor
0      Bob   Accounting       2008      Carly
1     Jake  Engineering       2012      Guido
2     Lisa  Engineering       2004      Guido
3      Sue           HR       2014      Steve

### Merge many - to - many

In [8]:
df5 = pd.DataFrame({'group': ['Accounting', 'Accounting', 'Engineering', 'Engineering', 'HR', 'HR'],
                    'skills': ['math', 'spreadsheets', 'coding', 'linux','spreadsheets', 'organization']})

print(df1)
print(df5)
print(pd.merge(df1, df5))

  employee        group
0      Bob   Accounting
1     Jake  Engineering
2     Lisa  Engineering
3      Sue           HR
         group        skills
0   Accounting          math
1   Accounting  spreadsheets
2  Engineering        coding
3  Engineering         linux
4           HR  spreadsheets
5           HR  organization
  employee        group        skills
0      Bob   Accounting          math
1      Bob   Accounting  spreadsheets
2     Jake  Engineering        coding
3     Jake  Engineering         linux
4     Lisa  Engineering        coding
5     Lisa  Engineering         linux
6      Sue           HR  spreadsheets
7      Sue           HR  organization

### Merge - xác định tên cột

In [9]:
df1 = pd.DataFrame({'employee': ['Bob', 'Jake', 'Lisa', 'Sue'], 
                   'group': ['Accounting', 'Engineering', 'Engineering', 'HR']})

df3 = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'salary': [70000, 80000, 120000, 90000]})
print('Data employee-group\n',df1)
print('Data employee-salary\n',df3)
print('Data employee-group-salary\n',pd.merge(df1, df3, left_on="employee", right_on="name"))
# Xóa bớt 1 cột name
print(pd.merge(df1, df3, left_on="employee", right_on="name").drop('name',axis=1))

Data employee-group
   employee        group
0      Bob   Accounting
1     Jake  Engineering
2     Lisa  Engineering
3      Sue           HR
Data employee-salary
    name  salary
0   Bob   70000
1  Jake   80000
2  Lisa  120000
3   Sue   90000
Data employee-group-salary
   employee        group  name  salary
0      Bob   Accounting   Bob   70000
1     Jake  Engineering  Jake   80000
2     Lisa  Engineering  Lisa  120000
3      Sue           HR   Sue   90000
  employee        group  salary
0      Bob   Accounting   70000
1     Jake  Engineering   80000
2     Lisa  Engineering  120000
3      Sue           HR   90000

### Merge theo index

In [10]:
df1 = pd.DataFrame({'employee': ['Bob', 'Jake', 'Lisa', 'Sue'], 
                   'group': ['Accounting', 'Engineering', 'Engineering', 'HR']})

df3 = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'salary': [70000, 80000, 120000, 90000]})

df1.set_index('employee')
df3.set_index('name')
print('Data employee-group\n',df1)
print('Data employee-salary\n',df3)
print('Data employee-group-salary\n',pd.merge(df1, df3, left_index=True , right_index=True))

Data employee-group
   employee        group
0      Bob   Accounting
1     Jake  Engineering
2     Lisa  Engineering
3      Sue           HR
Data employee-salary
    name  salary
0   Bob   70000
1  Jake   80000
2  Lisa  120000
3   Sue   90000
Data employee-group-salary
   employee        group  name  salary
0      Bob   Accounting   Bob   70000
1     Jake  Engineering  Jake   80000
2     Lisa  Engineering  Lisa  120000
3      Sue           HR   Sue   90000

### Merge - tham số how

In [11]:
df1 = pd.DataFrame({'employee': ['Bob', 'Jake', 'Lisa', 'Sue'], 
                   'group': ['Accounting', 'Engineering', '', 'HR']})
df4 = pd.DataFrame({'group': ['Accounting', 'Engineering', 'HR', 'R&D'],
                   'supervisor': ['Carly', 'Guido', 'Steve','Tom']})

print('Data employee\n',df1)
print('Data group \n',df4)
print('Data employee-group Inner join\n',pd.merge(df1, df4, how='inner'))
print('Data employee-group Outer join\n',pd.merge(df1, df4, how='outer'))
print('Data employee-group Left join\n',pd.merge(df1, df4, how='left'))
print('Data employee-group Right join\n',pd.merge(df1, df4, how='right'))

Data employee
   employee        group
0      Bob   Accounting
1     Jake  Engineering
2     Lisa
3      Sue           HR
Data group
          group supervisor
0   Accounting      Carly
1  Engineering      Guido
2           HR      Steve
3          R&D        Tom
Data employee-group Inner join
   employee        group supervisor
0      Bob   Accounting      Carly
1     Jake  Engineering      Guido
2      Sue           HR      Steve
Data employee-group Outer join
   employee        group supervisor
0      Bob   Accounting      Carly
1     Jake  Engineering      Guido
2     Lisa                     NaN
3      Sue           HR      Steve
4      NaN          R&D        Tom
Data employee-group Left join
   employee        group supervisor
0      Bob   Accounting      Carly
1     Jake  Engineering      Guido
2     Lisa                     NaN
3      Sue           HR      Steve
Data employee-group Right join
   employee        group supervisor
0      Bob   Accounting      Carly
1     Jake  Engineering      Guido
2      Sue           HR      Steve
3      NaN          R&D        Tom